/* 
Document   : seris
Created on : 21/11/2009, 10:30:24
Author     : user
Description:
Purpose of the stylesheet follows.
*/

/* 
TODO customize this sample style
Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

body {
    padding:0px;
    margin:0px;
    border:none;
}

body, p, div, td, input, select, textarea {
    font-family: verdana,arial,helvetica;
    font-size:12px;
    color:#27364D;
    text-decoration: none;
}

input,textarea {
    color: #efefef; background-color:#efefef; border: 1px solid #060606;
    color:#27364D;
    padding:1px; 
}

textarea { overflow:auto }

#pagina {
    position: absolute;
    height: 600px;
    width: 800px;
    background-image: url("imagens/seris.jpg");
    background-repeat: no-repeat;
    line-height: 2em;
}

#home {
    position: absolute;
    height: 471px;
    width: 800px;
    background-image: url("imagens/index.png");
    background-repeat: no-repeat;
    line-height: 2em;
    z-index:-1;
}

#conteudo {
    width: 750px;
    z-index:-1;
}

#nomecont {
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: 14px;
    background-image: url("imagens/h.gif");
    background-repeat: repeat-x;
    width: 1230px;
    height: 50px;
    padding-top: 25px;
}

#topo {
    position: absolute;
    width: 100%;
    height: 25%;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
}

#esquerda {
    position: absolute;
    width: 20%;
    height: auto;
    top: 25%;
    right: auto;
    bottom: 5%;
    left: 0;
}

#direita {
    position: absolute;
    width: 20%;
    height: auto;
    top: 25%;
    right: 0;
    bottom: 5%;
    left: auto;
}

#centro {
    position: absolute;
    width: 60%;
    height: auto;
    top: 25%;
    right: 20%;
    bottom: 5%;
    left: 20%;
}

#rodape {
    position: absolute;
    width: 100%;
    height: 5%;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
}

#divLogin {
    position: relative;
    width: 100%;
    height: auto;
    top: 25%;
    vertical-align: middle;
    text-align: center;
}

#divLogoEmpresa {
    position: relative;
    top: 20px;
    left: 20px;
    width: 137px;
    height: 67px;
    background-image: url("img/logoseris.png");
}

#divLogoCliente {
    position: relative;
    top: 45px;
    left: 100px;
    width: 140px;
    height: 75px;
    background: url("img/logocliente.png") no-repeat;
}

#divSinais {
    position: absolute;
    width: 20%;
    height: 25%;
    top: 18%;
    bottom: auto;
    right: auto;
    left: 7%;
    vertical-align: middle;
    text-align: center;
}

#divKit {
    position: absolute;
    width: 20%;
    height: 25%;
    top: 20%;
    bottom: auto;
    right: auto;
    left: 21%;
    vertical-align: middle;
    text-align: center;
}

#divKiq {
    position: absolute;
    width: 20%;
    height: 25%;
    top: 37%;
    bottom: auto;
    right: auto;
    left: 15%;
    vertical-align: middle;
    text-align: center;
}

#divConsulta {
    position: absolute;
    width: 14%;
    height: 30;
    top: 20%;
    bottom: auto;
    right: auto;
    left: 56%;
    vertical-align: middle;
    text-align: center;
}

#divListaSinalFraco {
    position: absolute;
    width: 12%;
    height: 30;
    top: 33%;
    bottom: auto;
    right: auto;
    left: 57%;
    vertical-align: middle;
    text-align: center;
}

#divCriacaoSentido {
    position: absolute;
    width: 10%;
    height: 50;
    top: 35%;
    bottom: auto;
    right: auto;
    left: 72%;
    vertical-align: middle;
    text-align: center;
}

#divArvore {
    position: absolute;
    width: 15%;
    height: 80;
    top: 17%;
    bottom: auto;
    right: auto;
    left: 70%;
    vertical-align: middle;
    text-align: center;
}

#linkTopo {
    text-align: right;
    font-size: 60%;
    margin-right: 20pt;
}

#linkLogout {
    text-align: right;
    font-size: 60%;
    margin-right: 20pt;
    margin-top: 80pt;
    text-decoration: none;
}

#textoCentro {
    text-align: center;
}

#textoEsquerda {
    text-align: center;
    font-weight: bold;
    color: white;
}

#linkBranco {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

#textoLabel {
    text-align: left;
    font-weight: bold;
    color: black;
    margin-top: 0;
    line-height: 2em;
    margin-bottom: 0;
}

.TESTcpYearNavigation,
.TESTcpMonthNavigation
{
    background-color:#C73D3A;
    text-align:center;
    vertical-align:middle;
    text-decoration:none;
    color:#FFFFFF;
    font-weight:bold;
}
.TESTcpDayColumnHeader,
.TESTcpYearNavigation,
.TESTcpMonthNavigation,
.TESTcpCurrentMonthDate,
.TESTcpCurrentMonthDateDisabled,
.TESTcpOtherMonthDate,
.TESTcpOtherMonthDateDisabled,
.TESTcpCurrentDate,
.TESTcpCurrentDateDisabled,
.TESTcpTodayText,
.TESTcpTodayTextDisabled,
.TESTcpText
{
    font-family:arial;
    font-size:8pt;
}
TD.TESTcpDayColumnHeader
{
    text-align:right;
    border:solid thin #913B3C;
    border-width:0 0 thin 0;
}
.TESTcpCurrentMonthDate,
.TESTcpOtherMonthDate,
.TESTcpCurrentDate
{
    text-align:right;
    text-decoration:none;
}
.TESTcpCurrentMonthDateDisabled,
.TESTcpOtherMonthDateDisabled,
.TESTcpCurrentDateDisabled
{
    color:#D0D0D0;
    text-align:right;
    text-decoration:line-through;
}
.TESTcpCurrentMonthDate
{
    color:red;
    font-weight:bold;
}
.TESTcpCurrentDate
{
    color: #FFFFFF;
    font-weight:bold;
}
.TESTcpOtherMonthDate
{
    color:#808080;

}
TD.TESTcpCurrentDate
{
    color:#FFFFFF;
    background-color: #913B3C;
    border-width: thin;
    border:solid thin #000000;
}
TD.TESTcpCurrentDateDisabled
{
    border-width:thin;
    border:solid thin #FFAAAA;
}
TD.TESTcpTodayText,
TD.TESTcpTodayTextDisabled
{
    border:solid thin #913B3C;
    border-width:thin 0 0 0;
}
A.TESTcpTodayText,
SPAN.TESTcpTodayTextDisabled
{
    height:20px;
}
A.TESTcpTodayText
{
    color:#913B3C;
    font-weight:bold;
}
SPAN.TESTcpTodayTextDisabled
{
    color:#D0D0D0;
}
.TESTcpBorder
{
    border:solid thin #913B3C;
}

